python=/usr/bin/python3
node-gyp-force-python=/usr/bin/python3
unsafe-perm=true
build-from-source=true
python-mirror=https://npm.taobao.org/mirrors/python
node-gyp-cache=/tmp/.node-gyp
node-gyp-force=true
